# Ignora la carpeta node_modules
_docs
_playa
# fuck git

entrega6.3_algoritmos_III/2_agenda/app-solved.js
entrega9_llamadas_asincronas/.parcel.cache
entrega9_llamadas_asincronas/node_modules
entrega12_casos_practicos/banca-online/server/node_modules
entrega12_casos_practicos/banca-online/node_modules
entrega12_casos_practicos/banca-online/.cache
entrega12_casos_practicos/portal-inmobiliario/server/node_modules
entrega12_casos_practicos/portal-inmobiliario/node_modules
entrega12_casos_practicos/portal-inmobiliario/dist
