# Ignora la carpeta node_modules
_docs
_playa
# fuck git

entrega_6.3/2_agenda/app-solved.js
entrega_9/.parcel.cache
entrega_9/node_modules
entrega_12_banca_online/node_modules
banca-online/server/node_modules
banca-online/node_modules